.container {
  display: flex;
  align-items: center;

  &.gap-sm {
    gap: 1rem;
  }

  &.gap-md {
    gap: 4rem;
  }

  &.gap-lg {
    gap: 8rem;
  }

  &::before,
  &::after {
    content: "★★";
    color: gold;
    font-size: 1.5rem;
  }
}
