.container {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

.creation-container {
  width: 600px;
  padding: 3rem;
  overflow-y: auto;
  border: solid 2px darkgray;
  border-radius: 6px;
}

.preview-container {
  width: 600px;
  padding: 3rem;
  overflow-y: auto;
  border: solid 2px darkgray;
  border-radius: 6px;
}

