.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container > .resizable {
  display: grid;
  place-content: center;
  height: 400px;
  font-size: 1.6rem;
  background-color: #cdf187;
}

.container > .bottom {
  display: grid;
  flex: 1 1;
  place-content: center;
  font-size: 1.6rem;
  background-color: #f1f196;
}
