.grid-layout {
  padding: 20px;
  background-color: #d6f4e7;
  border: solid 2px darkgray;
  border-radius: 4px;
}

.grid-item {
  display: grid;
  place-content: center;
  font-size: 2rem;
  color: gray;
  background-color: aliceblue;
  border: solid 2px darkgray;
  border-radius: 4px;
}

.grid-item.select-none * {
  user-select: none;
}
