.divider {
  display: flex;
  align-items: center;
  background: gray;
  justify-content: center;
  user-select: none; /* ドラッグ中に他領域が選択されるのを抑制する */
  touch-action: none; /* スマホタッチで pointermove がすぐ中断されないようにする (see: https://stackoverflow.com/questions/48124372/pointermove-event-not-working-with-touch-why-not) */

  &.vertical {
    cursor: row-resize;
    height: 6px;
    width: 100%;
  }

  &.horizontal {
    cursor: ew-resize;
    height: 100%;
    width: 6px;
  }

  /* active 疑似要素はタッチデバイスでは反応しないためハイライトされない */
  /* hover 疑似要素はタッチ終了後にハイライトが解除されない問題などがあるが一旦妥協している */
  &:active,
  &:hover {
    background: #62acf5;
    transition: background 0.2s ease-in;
  }
}

.grep-point {
  background-color: palevioletred;
  position: absolute;
  border-radius: 2rem;
}

.divider.vertical > .grep-point {
  height:10px;
  width:40px;
}

.divider.horizontal > .grep-point {
  height: 40px;
  width:10px;
}
